h1,
h2,
h3,
p,
ul,
img,
button {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

body {
    font-family: $base-font;
    font-size: 0.8rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

.wrapper {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.inner-wrapper {
    max-width: 1170px;
    width: 70%;
    margin: 0 auto;
}

.button-one {
    @include button(0.6rem, $light, $accent-2, 2px solid transparent);
        &:hover {
            @include button-hover($accent-2, transparent, 2px solid $accent-2);
        }
}

.button-two {
    @include button(0.6rem, $accent-2, transparent, 2px solid $accent-2);
        &:hover {
            @include button-hover($light, $accent-2, 2px solid $accent-2);
        }
}

h1 {
    color: $light;
    font-family: $heading-font;
    text-transform: lowercase;
    @include toRem(font-size, 90);
    @include toRem(letter-spacing, -2);
}

h2 {
    color: $light-medium;
    font-family: $secondary-font;
    text-transform: lowercase;
    @include toRem(font-size, 28);
    @include toRem(letter-spacing, 0.8);
    font-weight: 400;
}