h1,
h2,
h3,
p,
ul,
img,
button {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

body {
    font-family: $base-font;
    font-size: 0.8rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

.wrapper {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

.button-one {
    @include button-one(0.6rem, $light);
}