// Logo and navigation stylezzzz

.nav-bar {
    display: flex;
    justify-content: space-between;
    @include toRem(padding-top, 60);
}

.logo-title-header {
    color: $light;
    font-family: $secondary-font;
    @include toRem(font-size, 30);
    @include toRem(letter-spacing, 2);
}

.logo-title-header::before {
    content: "🌲";
}

.logo-title-header::after {
    content: "💻";
}

.desktop-nav {
    display: flex;
}

.desktop-nav-list {
    display: flex;
}

.desktop-nav-list li {
    font-family: $heading-font;
    @include toRem(font-size, 14);
    @include toRem(letter-spacing, 1);
    text-transform: lowercase;
    @include toRem(width, 100);
    text-align: center;
}

.desktop-nav-list li a {
    display: inline-block;
    color: $medium;
    transition: .3s;
    @include toRem(padding, 5);
        &:after {
            content: '';
            display: block;
            width: 0;
            @include toRem(height, 2);
            background: $accent-2;
            transition: width .3s;
            @include toRem(margin-top, 4);
        }
}

.desktop-nav-list li a:hover:after {
    width: 99%;
    color: $accent-2;
}

.desktop-nav-list li a:hover {
    color: $light;
}

// Mobile navigation styles

.mobile-nav-button {
    position: relative;
    left: 55%;
    top: 50%;
    display: none;
    color: $light;
    background: none;
    border: none;
    @include toRem(font-size, 40);
    cursor: pointer;
    z-index: 50;
}

.mobile-nav-slider {
    display: none;
}

// Header styles 

.page-header {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url('/assets/nb-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero-section {
    @include toRem(padding-top, 130);
    display: flex;
    justify-content: space-between;
}

.hero-left {
    display: flex;
    flex-direction: column;
        h1 {
            @include toRem(line-height, 110);
        }
}

header h2 span {
    color: $accent-1;
    font-weight: 500;
}

.hero-left a {
    @include toRem(padding-top, 55);
}

.hero-socials {
    font-family: $secondary-font;
    font-weight: 500;
    writing-mode:sideways-lr;
    text-orientation: mixed;
    text-transform: uppercase;
    @include toRem(font-size, 12);
    @include toRem(letter-spacing, 3);
        a {
            color: $medium;
            transition: 0.3s;
            &:hover {
                color: $accent-1;
            }
        }
}

.skip-arrow {
    display: flex;
    justify-content: center;
    @include toRem(padding-top, 100);
        .fa-sort-down {
            color: $light;
            @include toRem(font-size, 40);
            transition: 0.5s;
                &:hover {
                    color: $accent-1;
                    cursor: pointer;
                    transform: translateY(20px);
                }
        }
}

// section header styles

.section-header {
    padding: 1rem 0;
        &:after {
            content: "";
            display: block;
            width: 100%;
            @include toRem(height, 0.2);
            margin-top: 20px;
            margin-left: 0;
            position: absolute;
            z-index: -2;
            box-shadow: 1px 2px 3px 1px $light-medium;
        }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: $dark;
    font-family: $heading-font;
    @include toRem(font-size, 22);
    @include toRem(letter-spacing, 1);
    text-transform: lowercase;
}

.page-count-number {
    color: $medium;
    font-family: $secondary-font;
    font-weight: 400;
    @include toRem(font-size, 40);
    position: relative;
        &:after {
            content: "";
            display: block;
            @include toRem(width, 100);
            @include toRem(height, 2);
            background: $medium;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: -1;
        }
}

.page-count-number span {
    background: $light;
}

// About section styles

.about-me {
    background-image: url('/assets/about-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.about-inner-container {
    display: flex;
    height: 80vh;
    gap: 40px;
    padding: 4rem 0;
}

.about-image-container {
    max-width: 100%;
    height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.about-text-content {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 2.5rem 0;
}

.about-one {
    color: $accent-2;
    font-family: $secondary-font;
    @include toRem(font-size, 26);
    @include toRem(letter-spacing, 1);
    font-weight: 700;
}

.about-two {
    color: $dark;
    font-family: $heading-font;
    @include toRem(letter-spacing, 0.8);
    font-weight: 700;
}

.about-three {
    color: #686868;
    @include toRem(font-size, 14);
        a {
            color: $dark;
            transition: 0.3s;
                &:hover {
                    color: $accent-2;
                }
        }
}

.about-two,
.about-three {
    @include toRem(line-height, 22);
}

// skills styles 
.skills {
    background: $dark;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 0;
        li {
            width: 100px;
            margin: 40px;
            text-align: center;
            cursor: pointer;
        }
}

.skills-grid li i {
    color: $accent-1;
    @include toRem(font-size, 60);
}

.skills-grid p {
    color: $light;
    font-family: $heading-font;
    text-transform: lowercase;
    @include toRem(font-size, 16);
    padding-top: 0.6rem;
}

// Portfolio grid styles
.one {grid-area: one; } .two {grid-area: two; } .three {grid-area: three; } .four {grid-area: four; }
.portfolio-grid {
    padding: 2rem 0;
    margin: 2rem auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 14px 14px; 
    grid-template-areas: 
    "one two"
    "three four"; 
}

.portfolio-effect {
    position: relative;
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    cursor: pointer;
    background: $dark;
    padding: 2rem;
        img {
            position: relative;
            opacity: 0.3;
        }
}

.portfolio-effect figcaption {
    color: $light;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: right;
}

.portfolio-effect figcaption::before,
.portfolio-effect figcaption::after {
    pointer-events: none;
}

.portfolio-effect figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio-effect figcaption > a {
    z-index: 10;
}

.portfolio-effect figcaption h4 {
    color: $accent-1;
    font-family: $heading-font;
    top: -4%;
    text-transform: lowercase;
    @include toRem(font-size, 28);
        span {
            font-weight: 700;
            color: $light;
        }
}

.portfolio-effect figcaption h4:after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 2px;
    background: $light;
    transform: translate3d(0,10px,0);
}

.portfolio-effect h4,
.portfolio-content {
    position: absolute;
    right: 30px;
    left: 30px;
}

.portfolio-content {
    bottom: 35px;
    transform: translate3d(0,135%,0);
}

.portfolio-effect figcaption h4:after,
.portfolio-content {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
}

.portfolio-effect:hover h4::after,
.portfolio-effect:hover .portfolio-content {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.portfolio-effect figcaption:hover {
    background: $dark;
}

.portfolio-content a {
    margin: 0 0.2rem;
} 

.portfolio-content p {
    padding-bottom: 0.2rem;
}

.portfolio-content .button-one,
.portfolio-content .button-two {
    @include toRem(padding, 10);
    @include toRem(padding-right, 20);
}

// Contact styles start here
.contact {
    color: $light;
    background: $dark;
    padding: 4rem 0;
}

.contact p {
    font-family: $heading-font;
    color: $light-medium;
    @include toRem(font-size, 14);
    @include toRem(letter-spacing, 1.4);
    @include toRem(line-height, 20);

}

.contact-container {
    display: flex;
    @include toRem(gap, 100);
}

.contact h3 {
    font-family: $secondary-font;
    @include toRem(font-size, 24);
    @include toRem(letter-spacing, 0.6);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.form label {
    text-transform: uppercase;
    font-weight: 700;
    @include toRem(font-size, 10);
    @include toRem(letter-spacing, 3);
    padding-top: 1rem;
}

.form input,
.form textarea {
    @include toRem(font-size, 12);
    @include toRem(letter-spacing, 1);
    font-style: italic;
    background: none;
    border: none;
    color: $light-medium;
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid $medium;
}

input:focus,
textarea:focus {
    outline: none;
    transition: 0.3s;
    border-bottom: 1px solid $accent-2;
}

.form button {
    margin: 0.8rem 0;
    align-self: flex-start;
}

.form-content,
.contact-info-container {
    flex: 1 0 50%;
}

.contact-socials {
    color: $accent-2;
    @include toRem(font-size, 60);
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
}

.contact-socials a {
    color: $accent-2;
}

.contact-info-container .phone {
    color: $light-medium;
    transition: 0.3s;
        &:hover {
            color: $accent-2;
        }
}

.form-content p,
.contact-socials {
    padding: 1rem 0;
}

.contact-info-container p {
    padding: 0.2rem 0;
}

.contact-info-container p span {
    @include toRem(font-size, 12);
    @include toRem(letter-spacing, 3);
    font-weight: 700;
}

footer {
    background: $dark;
    text-align: center;
    color: $light;
    padding: 1rem 0;
    font-family: $heading-font;
    text-transform: lowercase;
}

// Media queries ******************************************************************************

@media (max-width: 1020px) {

        html,
        body {
            overflow-x: hidden;
        }

        body {
            position: relative;
        }

        .desktop-nav {
            display: none;
        }

        .desktop-nav-list {
            display: flex;
        }
    
        .mobile-nav-button {
            display: contents;
        }

        .close-button {
            color: $light;
            background: none;
            border: none;
            @include toRem(font-size, 40);
            cursor: pointer;
            z-index: 50;
        }

        .mobile-nav-slider {
            position: absolute;
            top: 0%;
            left: 100%;
            background: $dark;
            height: 100vh;
            width: 100%;
            z-index: 49;
            transition: .53s transform;
            transition-timing-function: cubic-bezier(.38,.52,.37,1);
            display: none;
        }
        
        .mobile-nav-list {
            color: $light;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding-bottom: 5rem;
                li {
                    overflow: hidden;
                        a {
                            color: $light;
                            font-family: $heading-font;
                            text-transform: lowercase;
                            @include toRem(font-size, 40);
                            @include toRem(padding, 20);
                        }
                }
        }
        
        .mobile-nav-list li a:hover {
            color: $accent-1;
        }
        
        .close-button {
            position: absolute;
            top: 3%;
            right: 5%;
        }

        // Header styles 

    .hero-section {
        @include toRem(padding-top, 140);
    }

    .skip-arrow {
        @include toRem(padding-top, 30);
    }

    // About section styles

    .about-inner-container {
        gap: 0;
        padding: 3rem 0;
        margin-bottom: 2rem;
    }

    // skills styles 

    .skills-grid {
        padding: 2rem 0;
            li {
                margin: 24px;
            }
    }

    // Portfolio grid styles

    .portfolio-grid {
        padding: 1rem 0;
        margin: 1rem 3rem 1rem 1.2rem;
        gap: 10px 10px;  
    }

    .portfolio-effect {
        min-width: 400px;
        max-width: 480px;
        max-height: 360px;
    }

    .portfolio-content p {
        margin-bottom: 0.5rem;
    }

    // Contact styles start here
    .contact {
        padding: 4rem 0 1rem 0 ;
    }

    .contact-container {
        @include toRem(gap, 60);
    }

    .contact-info-container p span {
        @include toRem(font-size, 12);
        @include toRem(letter-spacing, 3);
    }

}

@media (max-width: 900px) {

    .close-button {
        padding-top: 1.5rem;
    }
    
    .mobile-nav-list {
        padding-bottom: 2rem;
    }

        // Header styles 

    .page-header {
        height: 80vh;
    }

    .hero-section {
        @include toRem(padding-top, 235);
    }

    .hero-left {
            h1 {
                @include toRem(font-size, 80);
            }
    }

    .skip-arrow {
        @include toRem(padding-top, 55);
    }

    // About section styles

    .about-inner-container {
        height: 60vh;
        width: 85%;
        align-items: center;
        gap:0;
        padding: 1rem 0;
        margin-bottom: 0rem;
    }

    .about-image-container {
        flex-basis: 60%;
            video {
                width: 300px;
                height: 300px;
            }
    }

    .about-text-content {
        justify-content:space-around;
        height: 80%;
    }

    // Portfolio grid styles

    .portfolio-grid {
        padding: 2rem 0;
        margin: 0 auto; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 10px 10px; 
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"; 
    }

    // Contact styles start here
    .contact {
        padding: 3rem 0 1rem 0 ;
    }

    .contact-container {
        @include toRem(gap, 30);
    }

    .form-content {
        flex-basis: 60%;
    }

    .contact-info-container p span {
        @include toRem(font-size, 12);
        @include toRem(letter-spacing, 3);
    }
}

@media (max-width: 500px) {
        
    .close-button {
        padding-top: 1.5rem;
    }
    
    .mobile-nav-list {
        padding-bottom: 2rem;
    }

        // Header styles 

    .page-header {
        height: 80vh;
    }

    .hero-section {
        @include toRem(padding-top, 40);
    }

    .hero-left {
            h1 {
                @include toRem(font-size, 80);
                @include toRem(line-height, 85);
                padding-bottom: 0.5rem;
            }
    }

    .hero-left a {
        @include toRem(padding-top, 40);
    }

    .skip-arrow {
        @include toRem(padding-top, 20);
            .fa-sort-down {
                @include toRem(font-size, 60);
            }
    }

    // About section styles

    .about-inner-container {
        flex-direction: column;
        height: 100vh;
        padding-top: 2.5rem;
    }

    .about-image-container {
            video {
                width: 300px;
                height: 250px;
            }
    }

    .about-text-content {
        padding-top: 1rem;
    }

    // skills styles 

    .skills-grid {
        justify-content: space-around;
    }

    // Portfolio grid styles

    .portfolio-grid {
        padding: 2rem 0;
        margin: 0 0 0 0.5rem;
    }

    .portfolio-effect {
        min-width: 360px;
    }

    .portfolio-effect figcaption h4 {
        @include toRem(font-size, 26);
    }

    .portfolio-content {
        bottom: 20px;
    }

    // Contact styles start here
    .contact {
        padding: 3rem 0 1rem 0 ;
    }

    .contact-container {
        flex-direction: column;
    }

    .form button {
        width: 100%;
    }

    .form-content {
        flex-basis: 60%;
    }
}

@media (max-width: 400px) {

    .nav-bar {
        @include toRem(padding-top, 30);
    }
    
    .logo-title-header {
        padding-top: 0.2rem;
    }

    .close-button {
        padding-top: 0.5rem;
    }

        // Header styles 

    .page-header {
        height: 100vh;
    }

    .hero-section {
        @include toRem(padding-top, 180);
    }

    .hero-left {
            h1 {
                @include toRem(font-size, 65);
                @include toRem(line-height, 70);
            }
    }

    header h2 {
        @include toRem(font-size, 24);
        @include toRem(letter-spacing, 0.8);
    }

    .hero-left a {
        @include toRem(padding-top, 80);
    }

    // About section styles

    .about-me {
        background-position: center;
    }

    .about-text-content {
        height: 100%;
        padding: 0.5rem 0 0.2rem 0;
    }

    // Portfolio grid styles

    .portfolio-grid {
        margin: 0 0 0 -0.4rem;
    }

    .portfolio-effect {
        min-width: 310px;
    }

    .portfolio-effect figcaption h4 {
        top: -10%;
        @include toRem(font-size, 26);
    }

    .portfolio-effect figcaption h4:after {
        top: 110%;
    }

    .portfolio-content {
        bottom: 14px;
    }

    .portfolio-content p {
        font-size: 0.7rem;
    }

    .form button {
        width: 100%;
    }

}