@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
img,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.inner-wrapper {
  max-width: 1170px;
  width: 70%;
  margin: 0 auto;
}

.button-one {
  background: #ff3057;
  color: #fff;
  font-size: 0.6rem;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-one:hover {
  color: #ff3057;
  background: transparent;
  border: 2px solid #ff3057;
}

.button-two {
  background: transparent;
  color: #ff3057;
  font-size: 0.6rem;
  border: 2px solid #ff3057;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-two:hover {
  color: #fff;
  background: #ff3057;
  border: 2px solid #ff3057;
}

h1 {
  color: #fff;
  font-family: "Comfortaa", cursive;
  text-transform: lowercase;
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
}

h2 {
  color: #e3e3e3;
  font-family: "Maven Pro", sans-serif;
  text-transform: lowercase;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  font-weight: 400;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
}

.logo-title-header {
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.logo-title-header::before {
  content: "🌲";
}

.logo-title-header::after {
  content: "💻";
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav-list li {
  font-family: "Comfortaa", cursive;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
  width: 5rem;
  text-align: center;
}

.desktop-nav-list li a {
  display: inline-block;
  color: #a4a4a4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.25rem;
}
.desktop-nav-list li a:after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  background: #ff3057;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-top: 0.2rem;
}

.desktop-nav-list li a:hover:after {
  width: 99%;
  color: #ff3057;
}

.desktop-nav-list li a:hover {
  color: #fff;
}

.page-header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(20, 20, 20, 0.8)), to(rgba(20, 20, 20, 0.8))), url("/assets/nb-bg.jpeg");
  background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/assets/nb-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-section {
  padding-top: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-left h1 {
  line-height: 5.5rem;
}

header h2 span {
  color: #30ffc6;
  font-weight: 500;
}

.hero-left a {
  padding-top: 2.75rem;
}

.hero-socials {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  -webkit-text-orientation: mixed;
          text-orientation: mixed;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
}
.hero-socials a {
  color: #a4a4a4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero-socials a:hover {
  color: #30ffc6;
}

.skip-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}
.skip-arrow .fa-sort-down {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skip-arrow .fa-sort-down:hover {
  color: #30ffc6;
  cursor: pointer;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section-header {
  padding: 1rem 0;
}
.section-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.01rem;
  margin-top: 20px;
  margin-left: 0;
  position: absolute;
  z-index: -2;
  -webkit-box-shadow: 1px 2px 3px 1px #e3e3e3;
          box-shadow: 1px 2px 3px 1px #e3e3e3;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  color: #1b1b1b;
  font-family: "Comfortaa", cursive;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
}

.page-count-number {
  color: #a4a4a4;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  position: relative;
}
.page-count-number:after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.1rem;
  background: #a4a4a4;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

.page-count-number span {
  background: #fff;
}

.about-me {
  background-image: url("/assets/about-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.about-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  gap: 40px;
  padding: 4rem 0;
}

.about-image-container {
  max-width: 100%;
  height: auto;
}
.about-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-text-content {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 0;
}

.about-one {
  color: #ff3057;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.about-two {
  color: #1b1b1b;
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.04rem;
  font-weight: 700;
}

.about-three {
  color: #686868;
  font-size: 0.7rem;
}
.about-three a {
  color: #1b1b1b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-three a:hover {
  color: #ff3057;
}

.about-two,
.about-three {
  line-height: 1.1rem;
}

.skills {
  background: #1b1b1b;
}

.skills-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0;
}

.skills-grid li i {
  color: #30ffc6;
  font-size: 3rem;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.portfolio-grid {
  padding: 2rem 0;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 14px 14px;
  grid-template-areas: "one two" "three four";
}

.portfolio-effect {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  cursor: pointer;
  background: #1b1b1b;
  padding: 2rem;
}
.portfolio-effect img {
  position: relative;
  opacity: 0.3;
}

.portfolio-effect figcaption {
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: right;
}

.portfolio-effect figcaption::before,
.portfolio-effect figcaption::after {
  pointer-events: none;
}

.portfolio-effect figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-effect figcaption > a {
  z-index: 10;
}

.portfolio-effect figcaption h4 {
  color: #30ffc6;
  font-family: "Comfortaa", cursive;
  top: -4%;
  text-transform: lowercase;
  font-size: 1.4rem;
}
.portfolio-effect figcaption h4 span {
  font-weight: 700;
  color: #fff;
}

.portfolio-effect figcaption h4:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.portfolio-effect h4,
.portfolio-content {
  position: absolute;
  right: 30px;
  left: 30px;
}

.portfolio-content {
  bottom: 35px;
  -webkit-transform: translate3d(0, 135%, 0);
          transform: translate3d(0, 135%, 0);
}

.portfolio-effect figcaption h4:after,
.portfolio-content {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.portfolio-effect:hover h4::after,
.portfolio-effect:hover .portfolio-content {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-effect figcaption:hover {
  background: #1b1b1b;
}

.portfolio-content a {
  margin: 0 0.2rem;
}

.portfolio-content p {
  padding-bottom: 0.2rem;
}

.portfolio-content .button-one,
.portfolio-content .button-two {
  padding: 0.5rem;
  padding-right: 1rem;
}