@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
img,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.inner-wrapper {
  max-width: 1170px;
  width: 70%;
  margin: 0 auto;
}

.button-one {
  background: #ff3057;
  color: #fff;
  font-size: 0.6rem;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-one:hover {
  color: #ff3057;
  background: transparent;
  border: 2px solid #ff3057;
}

.button-two {
  background: transparent;
  color: #ff3057;
  font-size: 0.6rem;
  border: 2px solid #ff3057;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.6rem;
  padding-right: 1.75rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-two:hover {
  color: #fff;
  background: #ff3057;
  border: 2px solid #ff3057;
}

h1 {
  color: #fff;
  font-family: "Comfortaa", cursive;
  text-transform: lowercase;
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
}

h2 {
  color: #e3e3e3;
  font-family: "Maven Pro", sans-serif;
  text-transform: lowercase;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  font-weight: 400;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
}

.logo-title-header {
  color: #fff;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.logo-title-header::before {
  content: "🌲";
}

.logo-title-header::after {
  content: "💻";
}

.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav-list li {
  font-family: "Comfortaa", cursive;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
  width: 5rem;
  text-align: center;
}

.desktop-nav-list li a {
  display: inline-block;
  color: #a4a4a4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.25rem;
}
.desktop-nav-list li a:after {
  content: "";
  display: block;
  width: 0;
  height: 0.1rem;
  background: #ff3057;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-top: 0.2rem;
}

.desktop-nav-list li a:hover:after {
  width: 99%;
  color: #ff3057;
}

.desktop-nav-list li a:hover {
  color: #fff;
}

.mobile-nav-button {
  position: relative;
  left: 55%;
  top: 50%;
  display: none;
  color: #fff;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 50;
}

.lock-scroll {
  overflow: hidden;
}

.mobile-nav-slider {
  display: none;
}

.page-header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(20, 20, 20, 0.8)), to(rgba(20, 20, 20, 0.8))), url("/assets/nb-bg.jpeg");
  background-image: linear-gradient(0deg, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("/assets/nb-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-section {
  padding-top: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-left h1 {
  line-height: 5.5rem;
}

header h2 span {
  color: #30ffc6;
  font-weight: 500;
}

.hero-left a {
  padding-top: 2.75rem;
}

.hero-socials {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  text-orientation: mixed;
  -webkit-text-orientation: upright;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
}
.hero-socials a {
  color: #a4a4a4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero-socials a:hover {
  color: #30ffc6;
}

.skip-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}
.skip-arrow .fa-sort-down {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skip-arrow .fa-sort-down:hover {
  color: #30ffc6;
  cursor: pointer;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.section-header {
  padding: 1rem 0;
}
.section-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.01rem;
  margin-top: 20px;
  margin-left: 0;
  position: absolute;
  z-index: -2;
  -webkit-box-shadow: 1px 2px 3px 1px #e3e3e3;
          box-shadow: 1px 2px 3px 1px #e3e3e3;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  color: #1b1b1b;
  font-family: "Comfortaa", cursive;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
}

.page-count-number {
  color: #a4a4a4;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  position: relative;
}
.page-count-number:after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.1rem;
  background: #a4a4a4;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

.page-count-number span {
  background: #fff;
}

.about-me {
  background-image: url("/assets/about-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.about-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  gap: 40px;
  padding: 4rem 0;
}

.about-image-container {
  max-width: 100%;
  height: auto;
}
.about-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-text-content {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem 0;
}

.about-one {
  color: #ff3057;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

.about-two {
  color: #1b1b1b;
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.04rem;
  font-weight: 700;
}

.about-three {
  color: #686868;
  font-size: 0.7rem;
}
.about-three a {
  color: #1b1b1b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.about-three a:hover {
  color: #ff3057;
}

.about-two,
.about-three {
  line-height: 1.1rem;
}

.skills {
  background: #1b1b1b;
}

.skills-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
}
.skills-grid li {
  width: 100px;
  margin: 40px;
  text-align: center;
  cursor: pointer;
}

.skills-grid li i {
  color: #30ffc6;
  font-size: 3rem;
}

.skills-grid p {
  color: #fff;
  font-family: "Comfortaa", cursive;
  text-transform: lowercase;
  font-size: 0.8rem;
  padding-top: 0.6rem;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.portfolio-grid {
  padding: 2rem 0;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 14px 14px;
  grid-template-areas: "one two" "three four";
}

.portfolio-effect {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  cursor: pointer;
  background: #1b1b1b;
  padding: 2rem;
}
.portfolio-effect img {
  position: relative;
  opacity: 0.3;
}

.portfolio-effect figcaption {
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: right;
}

.portfolio-effect figcaption::before,
.portfolio-effect figcaption::after {
  pointer-events: none;
}

.portfolio-effect figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-effect figcaption > a {
  z-index: 10;
}

.portfolio-effect figcaption h4 {
  color: #30ffc6;
  font-family: "Comfortaa", cursive;
  top: -4%;
  text-transform: lowercase;
  font-size: 1.4rem;
}
.portfolio-effect figcaption h4 span {
  font-weight: 700;
  color: #fff;
}

.portfolio-effect figcaption h4:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
}

.portfolio-effect h4,
.portfolio-content {
  position: absolute;
  right: 30px;
  left: 30px;
}

.portfolio-content {
  bottom: 35px;
  -webkit-transform: translate3d(0, 135%, 0);
          transform: translate3d(0, 135%, 0);
}

.portfolio-effect figcaption h4:after,
.portfolio-content {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.portfolio-effect:hover h4::after,
.portfolio-effect:hover .portfolio-content {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.portfolio-effect figcaption:hover {
  background: #1b1b1b;
}

.portfolio-content a {
  margin: 0 0.2rem;
}

.portfolio-content p {
  padding-bottom: 0.2rem;
}

.portfolio-content .button-one,
.portfolio-content .button-two {
  padding: 0.5rem;
  padding-right: 1rem;
}

.contact {
  color: #fff;
  background: #1b1b1b;
  padding: 4rem 0;
}

.contact p {
  font-family: "Comfortaa", cursive;
  color: #e3e3e3;
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  line-height: 1rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.contact h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.35rem;
}

.form label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.5rem;
  letter-spacing: 0.15rem;
  padding-top: 1rem;
}

.form input,
.form textarea {
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  font-style: italic;
  background: none;
  border: none;
  color: #e3e3e3;
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid #a4a4a4;
}

input:focus,
textarea:focus {
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #ff3057;
}

.form button {
  margin: 0.8rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form-content,
.contact-info-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.contact-socials {
  color: #ff3057;
  font-size: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.contact-socials a {
  color: #ff3057;
}

.contact-info-container .phone {
  color: #e3e3e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-info-container .phone:hover {
  color: #ff3057;
}

.form-content p,
.contact-socials {
  padding: 1rem 0;
}

.contact-info-container p {
  padding: 0.2rem 0;
}

.contact-info-container p span {
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
}

footer {
  background: #1b1b1b;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  font-family: "Comfortaa", cursive;
  text-transform: lowercase;
}

@media (min-width: 1400px) {
  .hero-section {
    padding-top: 17rem;
  }

  .about-text-content {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    height: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5rem 0;
  }
}
@media (max-width: 1020px) {
  body {
    position: relative;
  }

  .desktop-nav {
    display: none;
  }

  .desktop-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-nav-button {
    display: contents;
  }

  .close-button {
    color: #fff;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 50;
  }

  .mobile-nav-slider {
    position: fixed;
    top: 0%;
    left: 100%;
    background: #1b1b1b;
    height: 100vh;
    width: 100%;
    z-index: 49;
    -webkit-transition: 0.53s -webkit-transform;
    transition: 0.53s -webkit-transform;
    transition: 0.53s transform;
    transition: 0.53s transform, 0.53s -webkit-transform;
    -webkit-transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
            transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);
    display: none;
  }

  .mobile-nav-list {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
  }
  .mobile-nav-list li {
    overflow: hidden;
  }
  .mobile-nav-list li a {
    color: #fff;
    font-family: "Comfortaa", cursive;
    text-transform: lowercase;
    font-size: 2rem;
    padding: 1rem;
  }

  .mobile-nav-list li a:hover {
    color: #30ffc6;
  }

  .close-button {
    position: absolute;
    top: 3%;
    right: 5%;
  }

  .hero-section {
    padding-top: 7rem;
  }

  .skip-arrow {
    padding-top: 1.5rem;
  }

  .about-inner-container {
    gap: 0;
    padding: 3rem 0;
    margin-bottom: 2rem;
  }

  .skills-grid {
    padding: 2rem 0;
  }
  .skills-grid li {
    margin: 24px;
  }

  .portfolio-grid {
    padding: 1rem 0;
    margin: 1rem 3rem 1rem 1.2rem;
    gap: 10px 10px;
  }

  .portfolio-effect {
    min-width: 400px;
    max-width: 480px;
    max-height: 360px;
  }

  .portfolio-content p {
    margin-bottom: 0.5rem;
  }

  .contact {
    padding: 4rem 0 1rem 0;
  }

  .contact-container {
    gap: 3rem;
  }

  .contact-info-container p span {
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
  }
}
@media (max-width: 900px) {
  .close-button {
    padding-top: 1.5rem;
  }

  .mobile-nav-list {
    padding-bottom: 2rem;
  }

  .page-header {
    height: 80vh;
  }

  .hero-section {
    padding-top: 4rem;
  }

  .hero-left h1 {
    font-size: 4rem;
  }

  .skip-arrow {
    padding-top: 1.5rem;
  }

  .about-inner-container {
    height: 60vh;
    width: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    padding: 1rem 0;
    margin-bottom: 0rem;
  }

  .about-image-container {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .about-image-container video {
    width: 300px;
    height: 300px;
  }

  .about-text-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 80%;
  }

  .portfolio-grid {
    padding: 2rem 0;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "one" "two" "three" "four";
  }

  .contact {
    padding: 3rem 0 1rem 0;
  }

  .contact-container {
    gap: 1.5rem;
  }

  .form-content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }

  .contact-info-container p span {
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
  }
}
@media (max-width: 500px) {
  .close-button {
    padding-top: 1.5rem;
  }

  .mobile-nav-list {
    padding-bottom: 2rem;
  }

  .page-header {
    height: 80vh;
  }

  .hero-section {
    padding-top: 2rem;
  }

  .hero-left h1 {
    font-size: 4rem;
    line-height: 4.25rem;
    padding-bottom: 0.5rem;
  }

  .hero-left a {
    padding-top: 2rem;
  }

  .skip-arrow {
    padding-top: 1rem;
  }
  .skip-arrow .fa-sort-down {
    font-size: 3rem;
  }

  .about-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
  }

  .about-image-container video {
    width: 300px;
    height: 250px;
  }

  .about-text-content {
    padding-top: 1rem;
  }

  .skills-grid {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .portfolio-grid {
    padding: 2rem 0;
    margin: 0 0 0 0.5rem;
  }

  .portfolio-effect {
    min-width: 360px;
  }

  .portfolio-effect figcaption h4 {
    font-size: 1.3rem;
  }

  .portfolio-content {
    bottom: 20px;
  }

  .contact {
    padding: 3rem 0 1rem 0;
  }

  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form button {
    width: 100%;
  }

  .form-content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media (max-width: 400px) {
  .nav-bar {
    padding-top: 1.5rem;
  }

  .logo-title-header {
    padding-top: 0.2rem;
  }

  .close-button {
    padding-top: 0.5rem;
  }

  .page-header {
    height: 100vh;
  }

  .hero-section {
    padding-top: 9rem;
  }

  .hero-left h1 {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  header h2 {
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
  }

  .hero-left a {
    padding-top: 4rem;
  }

  .hero-socials {
    display: none;
  }

  .about-me {
    background-position: center;
  }

  .about-text-content {
    height: 100%;
    padding: 0.5rem 0 0.2rem 0;
  }

  .portfolio-grid {
    margin: 0 0 0 -0.4rem;
  }

  .portfolio-effect {
    min-width: 310px;
  }

  .portfolio-effect figcaption h4 {
    top: -10%;
    font-size: 1.3rem;
  }

  .portfolio-effect figcaption h4:after {
    top: 110%;
  }

  .portfolio-content {
    bottom: 14px;
  }

  .portfolio-content p {
    font-size: 0.7rem;
  }

  .form button {
    width: 100%;
  }
}